.error {
  color: red;
}

.navbar {
  background: linear-gradient(to right,#cb11ab 0,#481173 100%) no-repeat;
}

a.navbar-brand {
  color: white;
}

a.navbar-brand:hover {
  color: white;
}

.btn-wb {
  background-color: #cb11ab;
  color: white;
}

.btn-wb:hover {
  background-color: #481173;
  color: white;
}